body {
  font-family: Arial, sans-serif;
  margin: 2;
  padding: 2;
}

header {
  background-color: #EEEEEE;
  padding: 25px;
  text-align: center;
}


.Cabecera, .SobreNosotros, .galeria, .contacto {
  background-color: #F7F7F7;
  text-align: center;
  padding: 50px;
}


